# fly.toml file generated for grants-stack-indexer on 2023-03-10T09:32:46+01:00

app = "grants-stack-indexer"
kill_signal = "SIGINT"
kill_timeout = 5
primary_region = "den"
processes = []

[processes]
web = "npm start"

[mounts]
source="indexer_data"
destination="/usr/src/app/.cache"

[env]
  PORT = "8080"
  STORAGE_DIR = "/data"

[experimental]
  auto_rollback = true

[[services]]
  http_checks = []
  internal_port = 8080
  processes = ["web"]
  protocol = "tcp"
  script_checks = []

  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443

  [[services.tcp_checks]]
    grace_period = "5s"
    interval = "15s"
    restart_limit = 0
    timeout = "10s"
